.card-search {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.card-list-wrapper {
  flex: 1;
}

.message-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.message-card {
  padding: 1rem;
  text-align: center;
}

.card-wrapper {
  margin: 8px;
  cursor: pointer;
}
