.card {
  position: relative;
}

.icon-wrapper {
  display: inline-flex;
  position: absolute;
  top: .25rem;
  right: .25rem;
  background-color: rgba(0, 0, 0, 0.541176);
  padding: .5rem;
  border-radius: 50%;
}
