.toolbar-group {
  align-items: center;
}

.input-clear-button {
  position: absolute;
  padding: 1rem;
  right: 0;
  cursor: pointer;
}

.input-clear-icon {
  width: 8px;
  height: 8px;
  stroke: rgb(153, 153, 153);
}

.search-group {
  align-items: center;
  flex: 1;
  margin-right: 1rem;
}

.option-icon, .value-icon {
  display: inline-block;
  size: 24px;
}

.option-icon {
  margin-right: 1rem;
}

:global .card-search-select-box .simple-option {
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: center !important;
}

:global .card-search-select-box > .react-selectize-control:after {
  background-color: $primary1Color !important;
}
