.drawer {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.deck-items {
  flex: 1;
  overflow: auto;
}

.deck-meta {
  background-color: $primary2Color;
  padding: 1em;
}

.deck-meta svg {
  fill: #fff !important;
}

.deck-label {
  display: flex;
  flex-direction: row;
}

.deck-name {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  /* display: inline-block; */
  /* width: 100%; */
  color: #fff;
  background-color: initial;
  border: initial;
  border-bottom: solid 1px #fff;
  font-size: 1.5em;
}

.deck-info {
  padding: 1em 0 0 0;
}

.delete-btn {
  /* float: right; */
}

.white-text {
  color: #fff;
}

.set-icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
