.set-icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.count-wrapper {
  position: relative;
}

.main-character {
  stroke: $accent1Color;
  fill: $accent1Color;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 24px;
  width: 24px;
  z-index: -1;
}
