.set-icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  margin-right: .5rem;
  margin-left: .5rem;
}

.primary-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deck-name {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
