.card-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-right: 1rem;
}
.card-header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: #E8E8E8;
}
.card-content {
  display: flex;
  padding: 1rem;
}
.meta-item {
  vertical-align: top;
}
.meta-item > td {
  padding-bottom: .5rem;
  width: 40%;
}
.meta-item > td:nth-child(odd) {
  font-weight: bold;
  font-size: 1.2rem;
  padding-right: 1rem;
  width: 10%;
}
.set-icon {
  height: 30px;
  width: 30px;
  vertical-align: top;
  margin-right: .5rem;
}
.image-wrapper {
  display: inline-block;
}
.meta-wrapper {
  flex: 1;
  margin-left: 1rem;
  vertical-align: top;
  display: inline-block;
}
.skill {
  margin-top: .5rem;
  margin-bottom: .5rem;
  &:first-child {
    margin-top: initial;
  }
  &:last-child {
    margin-bottom: initial;
  }
  :global .skill-name {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  :global .skill-name > span {
    margin-right: .5rem;
  }
  :global .skill-icon {
    vertical-align: text-bottom;
    max-height: 1rem;
  }
  :global .skill-type-icon {
    vertical-align: text-bottom;
    height: 1rem;
  }
}
