.card-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.toolbar {
  display: flex;
  justify-content: space-between;
}
.paging-toolbar {

}
.text-icon {
  font-size: 1rem !important;
  align-self: center;
}
.card-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 1rem;
}
